<settings>
  <localRepository>/media/datos/maven</localRepository>
  <pluginGroups>
    <pluginGroup>org.wildfly.plugins</pluginGroup>
  </pluginGroups>
<servers>
   <server>
      <id>snapshots</id>
      <username>admin</username>
      <password>admin123</password>
   </server>
 <server>
      <id>releases</id>
      <username>admin</username>
      <password>admin123</password>
   </server>
</servers>

</settings>

